php_flag display_errors on
php_value error_reporting 7

RewriteEngine on 
RewriteRule ^index.html index.php 
RewriteRule ^login.html index.php?pagina=amministrazione/login.php
RewriteRule ^recupero_credenziali.html index.php?pagina=amministrazione/recupero_credenziali.php
RewriteRule ^registrati.html index.php?pagina=amministrazione/registrazione.php
RewriteRule ^richiedi_preventivo.html index.php?pagina=clienti/preventivo1.php&type=0
RewriteRule ^richiedi_preventivo_.html index.php?pagina=clienti/preventivo1.php&type=1
RewriteRule ^richiedi_preventivo2.html index.php?pagina=clienti/preventivo2.php
RewriteRule ^richiedi_preventivo3.html index.php?pagina=clienti/preventivo3.php
RewriteRule ^prodotti.html index.php?pagina=presentazione_prodotti/elenco_prodotti.php
RewriteRule ^prodotti-cat([0-9]*).html index.php?pagina=presentazione_prodotti/elenco_prodotti.php&padre=$1
RewriteRule ^configura-prod([0-9]*).html index.php?pagina=presentazione_prodotti/configuratore_prodotto.php&prod=$1
RewriteRule ^in-distribuzione.html index.php?pagina=clienti/indistribuzione.php
RewriteRule ^mostra_volantino-([0-9]*).html index.php?pagina=clienti/visualizza_volantino.php&id_vol=$1
RewriteRule ^mostra_vol-([0-9]*).html index.php?pagina=visualizza_volantino_home.php&id_vol=$1
RewriteRule ^prodotti-in-offerta.html index.php?pagina=presentazione_prodotti/prodotti_in_offerta.php
RewriteRule ^contatti.html index.php?pagina=amministrazione/contatti_per_clienti.php
RewriteRule ^chi_siamo.html index.php?pagina=amministrazione/chi_siamo.php
RewriteRule ^home-user.html index.php?pagina=clienti/utente.php
RewriteRule ^modifica-dati.html index.php?pagina=clienti/ModDatiUtente.php
RewriteRule ^modifica-dati2.html index.php?pagina=clienti/modifica_dati_p.php
RewriteRule ^modifica-pass.html index.php?pagina=clienti/cambia_pass.php
RewriteRule ^indirizzi-utente.html index.php?pagina=clienti/Indirizzi.php
RewriteRule ^ordini-utente.html index.php?pagina=acquisti/ordini_cliente.php
RewriteRule ^ordini-utente-([0-9]*).html index.php?pagina=acquisti/ordini_cliente.php&page=$1
RewriteRule ^newsletter.html index.php?pagina=clienti/newsletter.php
RewriteRule ^risultato-operazione.html index.php?pagina=info_res_operazioni.php
RewriteRule ^carrello.html index.php?pagina=acquisti/visualizza_carrello.php
RewriteRule ^alla-cassa.html index.php?pagina=acquisti/vai_alla_cassa.php
RewriteRule ^dettagli-ordine-([0-9]*)-([0-9]*).html index.php?pagina=acquisti/dettagli_ordine_cliente.php&ordine=$1&return=$2
RewriteRule ^carica-file-prodotto-([0-9]*)-([0-9]*)-([0-9]*).html index.php?pagina=acquisti/carica_file_prod.php&prod=$1&ordine=$2&return=$3
RewriteRule ^visualizza-pdf-([0-9]*)-([0-9]*)-([0-9]*).html index.php?pagina=acquisti/visualizzaPdfprod.php&id_riga=$1&ordine=$2&return=$3
RewriteRule ^cookiepolicy.html index.php?pagina=cookie.html
RewriteRule ^configura-prod([0-9]*)-off([0-9]*).html index.php?pagina=presentazione_prodotti/configuratore_prodotto.php&prod=$1&offerta=$2
RewriteRule ^prodotti-vari.html index.php?pagina=acquisti/visualizza_prodotti_vari.php
RewriteRule ^mostra-prodotto-([0-9]*).html index.php?pagina=acquisti/mostra_prod_gen.php&prod=$1