php_flag display_errors on
php_value error_reporting 7

RewriteEngine on 
RewriteRule ^index.html index.php 
RewriteRule ^login.html index.php?pagina=amministrazione/login.php
RewriteRule ^login2.html index.php?pagina=amministrazione/login.php&ret=1
RewriteRule ^recupero_credenziali.html index.php?pagina=amministrazione/recupero_credenziali.php
RewriteRule ^registrati.html index.php?pagina=amministrazione/registrazione.php
RewriteRule ^contatti.html index.php?pagina=amministrazione/contatti_per_clienti.php
RewriteRule ^chi_siamo.html index.php?pagina=amministrazione/chi_siamo.php
RewriteRule ^home-user.html index.php?pagina=studenti/studente.php
RewriteRule ^home-insegnante.html index.php?pagina=insegnanti/insegnante.php
RewriteRule ^home-admin.html index.php?pagina=amministrazione/admin.php
RewriteRule ^modifica-dati.html index.php?pagina=studenti/ModDatiUtente.php
RewriteRule ^modifica-dati2.html index.php?pagina=studenti/modifica_dati_p.php
RewriteRule ^modifica-dati-insegnante.html index.php?pagina=insegnanti/ModDatiUtente.php
RewriteRule ^modifica-dati2-ins.html index.php?pagina=insegnanti/modifica_dati_p_ins.php
RewriteRule ^modifica-pass-insegnante.html index.php?pagina=insegnanti/cambia_pass.php
RewriteRule ^modifica-pass.html index.php?pagina=studenti/cambia_pass.php
RewriteRule ^risultato-operazione.html index.php?pagina=info_res_operazioni.php
RewriteRule ^carrello.html index.php?pagina=acquisti/visualizza_carrello.php
RewriteRule ^acquista.html index.php?pagina=acquisti/acquista.php
RewriteRule ^dettagli-ordine-([0-9]*)-([0-9]*).html index.php?pagina=acquisti/dettagli_ordine_cliente.php&ordine=$1&return=$2
RewriteRule ^cookiepolicy.html index.php?pagina=cookie.html
RewriteRule ^corsi-studente.html index.php?pagina=studenti/corsi_studente.php
RewriteRule ^corsi.html index.php?pagina=insegnanti/corsi.php
RewriteRule ^esercizi.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/esercizi.php
RewriteRule ^nuovo-corso.html index.php?pagina=insegnanti/nuovo_corso.php
RewriteRule ^elenco-corsi.html index.php?pagina=insegnanti/elenco_corsi.php
RewriteRule ^nuova-area-tematica.html index.php?pagina=insegnanti/nuova_area_tematica.php
RewriteRule ^nuova-materia.html index.php?pagina=insegnanti/nuova_materia.php
RewriteRule ^nuova-lezione-([0-9]*).html index.php?pagina=insegnanti/nuova_lezione.php&id_corso=$1
RewriteRule ^nuova-lezione2-([0-9]*).html index.php?pagina=insegnanti/nuova_lezione2.php&id_corso=$1
RewriteRule ^nuova-lezione3-([0-9]*).html index.php?pagina=insegnanti/nuova_lezione3.php&id_corso=$1
RewriteRule ^nuovo-esercizio-([0-9]*).html index.php?pagina=insegnanti/nuovo_esercizio.php&id_corso=$1
RewriteRule ^nuovo-esercizio2-([0-9]*).html index.php?pagina=insegnanti/nuovo_esercizio2.php&id_corso=$1
RewriteRule ^nuovo-esercizio3-([0-9]*).html index.php?pagina=insegnanti/nuovo_esercizio3.php&id_corso=$1
RewriteRule ^modifica-file-p-lezione-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/modifica_file_p_lezione.php&id_corso=$1&id=$2
RewriteRule ^modifica-file-lezione-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/modifica_file_lezione.php&id_corso=$1&id=$2
RewriteRule ^modifica-file-t-esercizio-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/modifica_file_t_esercizio.php&id_corso=$1&id=$2
RewriteRule ^modifica-file-s-esercizio-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/modifica_file_s_esercizio.php&id_corso=$1&id=$2
RewriteRule ^preventivi-esercizi.html index.php?pagina=insegnanti/preventivi.php
RewriteRule ^lavora-con-noi.html index.php?pagina=amministrazione/registrazione_insegnante.php
RewriteRule ^registrazione-insegnante-1.html index.php?pagina=amministrazione/registrazione_ins1.php
RewriteRule ^registrazione-insegnante-2.html index.php?pagina=amministrazione/registrazione_ins2.php
RewriteRule ^registrazione-insegnante-3.html index.php?pagina=amministrazione/registrazione_ins3.php
RewriteRule ^registrazione-insegnante-4.html index.php?pagina=amministrazione/registrazione_ins4.php
RewriteRule ^registrazione-insegnante-5.html index.php?pagina=amministrazione/registrazione_ins5.php
RewriteRule ^registrazione-insegnante-6.html index.php?pagina=amministrazione/registrazione_ins6.php
RewriteRule ^modifica-lezione-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/modifica_lezione.php&id_corso=$1&id=$2
RewriteRule ^modifica-esercizio-ins-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/modifica_esercizio.php&id_corso=$1&id=$2
RewriteRule ^aree-tematiche.html index.php?pagina=studenti/aree_tematiche.php
RewriteRule ^materie-([0-9]*).html index.php?pagina=studenti/materie.php&id_at=$1
RewriteRule ^corsi-([0-9]*).html index.php?pagina=studenti/corsi.php&id_mat=$1
RewriteRule ^corso-([0-9]*).html index.php?pagina=studenti/corso.php&id_corso=$1
RewriteRule ^corso-ins-([0-9]*).html index.php?pagina=insegnanti/corso.php&id_corso=$1
RewriteRule ^ordine-effettuato.html index.php?pagina=acquisti/ordine_effettuato.php
RewriteRule ^ordine-fallito.html index.php?pagina=acquisti/ordine_fallito.php
RewriteRule ^corsi-studente.html index.php?pagina=studenti/corsi_studente.php
RewriteRule ^ordini-studente.html index.php?pagina=studenti/ordini_studente.php
RewriteRule ^corso-studente-([0-9]*).html index.php?pagina=studenti/corso_studente.php&id_corso=$1
RewriteRule ^visualizza-lezione-([0-9]*)-([0-9]*).html index.php?pagina=studenti/visualizza_lezione.php&corso=$1&id=$2
RewriteRule ^visualizza-lezione-ins-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/visualizza_lezione.php&corso=$1&id=$2
RewriteRule ^visualizza-presentazione-lezione-([0-9]*)-([0-9]*).html index.php?pagina=studenti/visualizza_presentazione_lezione.php&corso=$1&id=$2
RewriteRule ^visualizza-esercizio-([0-9]*)-([0-9]*).html index.php?pagina=studenti/visualizza_esercizio.php&corso=$1&id=$2
RewriteRule ^visualizza-esercizio-ins-([0-9]*)-([0-9]*).html index.php?pagina=insegnanti/visualizza_esercizio.php&corso=$1&id=$2
RewriteRule ^visualizza-traccia-esercizio-([0-9]*)-([0-9]*).html index.php?pagina=studenti/visualizza_traccia_esercizio.php&corso=$1&id=$2
RewriteRule ^lezioni-su-richiesta.html index.php?pagina=studenti/richiesta_lezione.php
RewriteRule ^richiesta_lezione2.html index.php?pagina=studenti/richiesta_lezione2.php
RewriteRule ^richiesta_lezione3-([0-9]*).html index.php?pagina=studenti/richiesta_lezione3.php&at=$1
RewriteRule ^richiesta_lezione4-([0-9]*)-([0-9]*).html index.php?pagina=studenti/richiesta_lezione4.php&mat=$1&at=$2
RewriteRule ^dettagli-insegnante-([0-9]*)-([0-9]*)-([0-9]*).html index.php?pagina=studenti/dettagli_insegnante.php&id_ins=$1&mat=$2&at=$3
RewriteRule ^richiesta_lezione5-([0-9]*)-([0-9]*)-([0-9]*).html index.php?pagina=studenti/richiesta_lezione5.php&id_ins=$1&mat=$2&at=$3
RewriteRule ^richiesta-lezione-inserita.html index.php?pagina=studenti/richiesta-lezione-inserita.php
RewriteRule ^richiesta-lezione-fallita.html index.php?pagina=studenti/richiesta-lezione-fallita.php
RewriteRule ^richieste-studenti.html index.php?pagina=studenti/richieste_studenti.php
RewriteRule ^visualizza-richiesta-lezione-([0-9]*).html index.php?pagina=studenti/visualizza_richiesta_lezione.php&id=$1
RewriteRule ^lezioni-richieste.html index.php?pagina=insegnanti/lezioni-richieste.php
RewriteRule ^visualizza-richiesta-lezione-i-([0-9]*).html index.php?pagina=insegnanti/visualizza_richiesta_lezione_i.php&id=$1
RewriteRule ^modifica-svolgimento-lezione-([0-9]*).html index.php?pagina=insegnanti/modifica_svolgimento_lezione.php&id=$1
RewriteRule ^lezioni-su-richiesta-acquistate.html index.php?pagina=studenti/lezioni_su_richiesta_acquistate.php
RewriteRule ^visualizza_traccia-([0-9]*).html index.php?pagina=studenti/visualizza_traccia.php&id=$1
RewriteRule ^visualizza_svolgimento-([0-9]*).html index.php?pagina=studenti/visualizza_svolgimento.php&id=$1
RewriteRule ^visualizza-fattura-([0-9]*).html index.php?pagina=studenti/visualizza_fattura.php&id=$1
RewriteRule ^vendite-insegnante.html index.php?pagina=insegnanti/vendite_insegnante.php
RewriteRule ^chat-studenti.html index.php?pagina=insegnanti/elenco_chat_studenti.php
RewriteRule ^chat-con-studenti-([0-9]*).html index.php?pagina=insegnanti/chat_con_studenti.php&id_chat=$1
RewriteRule ^vendite.html index.php?pagina=amministrazione/vendite.php