php_flag display_errors on
php_value error_reporting 7

RewriteEngine on 
RewriteRule ^index.html index.php 
RewriteRule ^login.html index.php?pagina=amministrazione/login.php
RewriteRule ^recupero_credenziali.html index.php?pagina=amministrazione/recupero_credenziali.php
RewriteRule ^registrati.html index.php?pagina=amministrazione/registrazione.php
RewriteRule ^contatti.html index.php?pagina=amministrazione/contatti_per_clienti.php
RewriteRule ^chi_siamo.html index.php?pagina=amministrazione/chi_siamo.php
RewriteRule ^home-user.html index.php?pagina=studenti/studente.php
RewriteRule ^home-insegnante.html index.php?pagina=insegnanti/insegnante.php
RewriteRule ^home-admin.html index.php?pagina=amministrazione/admin.php
RewriteRule ^modifica-dati.html index.php?pagina=studenti/ModDatiUtente.php
RewriteRule ^modifica-dati2.html index.php?pagina=studenti/modifica_dati_p.php
RewriteRule ^modifica-pass.html index.php?pagina=studenti/cambia_pass.php
RewriteRule ^risultato-operazione.html index.php?pagina=info_res_operazioni.php
RewriteRule ^carrello.html index.php?pagina=acquisti/visualizza_carrello.php
RewriteRule ^acquista.html index.php?pagina=acquisti/acquista.php
RewriteRule ^dettagli-ordine-([0-9]*)-([0-9]*).html index.php?pagina=acquisti/dettagli_ordine_cliente.php&ordine=$1&return=$2
RewriteRule ^cookiepolicy.html index.php?pagina=cookie.html
RewriteRule ^corsi-studente.html index.php?pagina=studenti/corsi_studente.php
RewriteRule ^elenco-corsi.html index.php?pagina=insegnanti/elenco_corsi.php
RewriteRule ^esercizi.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/esercizi.php
RewriteRule ^nuovo-esercizio.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/nuovo_esercizio.php
RewriteRule ^nuovo-corso.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/nuovo_corso.php
RewriteRule ^nuova-area-tematica.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/nuova_area_tematica.php
RewriteRule ^nuova-materia.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/nuova_materia.php
RewriteRule ^nuova-lezione.html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/nuova_lezione.php
RewriteRule ^modifica-file-lezione-([0-9]*).html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/modifica_file_lezione.php&id=$1
RewriteRule ^preventivi-esercizi.html index.php?pagina=insegnanti/preventivi.php
RewriteRule ^lavora-con-noi.html index.php?pagina=insegnanti/registrazione_insegnante.php
RewriteRule ^modifica-lezione-([0-9]*).html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/modifica_lezione.php&id=$1
RewriteRule ^aree-tematiche.html index.php?pagina=studenti/aree_tematiche.php
RewriteRule ^materie-([0-9]*).html index.php?pagina=studenti/materie.php&id_at=$1
RewriteRule ^corsi-([0-9]*).html index.php?pagina=studenti/corsi.php&id_mat=$1
RewriteRule ^corso-([0-9]*).html index.php?pagina=studenti/corso.php&id_corso=$1
RewriteRule ^ordine-effettuato.html index.php?pagina=acquisti/ordine_effettuato.php
RewriteRule ^corsi-studente.html index.php?pagina=studenti/corsi_studente.php
RewriteRule ^ordini-studente.html index.php?pagina=studenti/ordini_studente.php
RewriteRule ^corso-studente-([0-9]*).html index.php?pagina=studenti/corso_studente.php&id_corso=$1
RewriteRule ^visualizza-lezione-([0-9]*)-([0-9]*).html index.php?pagina=studenti/visualizza_lezione.php&corso=$1&id=$2
RewriteRule ^visualizza-esercizio-([0-9]*)-([0-9]*).html index.php?pagina=studenti/visualizza_esercizio.php&corso=$1&id=$2
RewriteRule ^modifica-file-p-lezione-([0-9]*).html index.php?pagina=insegnanti/corsi_insegnante.php&inner=insegnanti/modifica_file_p_lezione.php&id=$1
RewriteRule ^svolgimento-lezione.html index.php?pagina=studenti/richiesta_lezione.php
RewriteRule ^richiesta-lezione-inserita.html index.php?pagina=studenti/richiesta-lezione-inserita.php
RewriteRule ^richieste-lezioni.html index.php?pagina=studenti/richieste_lezioni.php
RewriteRule ^visualizza-richiesta-lezione-([0-9]*).html index.php?pagina=studenti/visualizza_richiesta_lezione.php&id=$1
RewriteRule ^richieste-studenti.html index.php?pagina=insegnanti/richieste_studenti.php
RewriteRule ^lezioni-richieste.html index.php?pagina=insegnanti/lezioni-richieste.php
RewriteRule ^visualizza-richiesta-lezione-i-([0-9]*).html index.php?pagina=insegnanti/visualizza_richiesta_lezione_i.php&id=$1
RewriteRule ^modifica-svolgimento-lezione-([0-9]*).html index.php?pagina=insegnanti/modifica_svolgimento_lezione.php&id=$1




