@charset "UTF-8";
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  background: -moz-linear-gradient(top, #fc5f1b 0%, #dbdb15 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc5f1b), color-stop(100%, #dbdb15));
  background: -webkit-linear-gradient(top, #fc5f1b 0%, #dbdb15 100%);
  background: -o-linear-gradient(top, #fc5f1b 0%, #dbdb15 100%);
  background: -ms-linear-gradient(top, #fc5f1b 0%, #dbdb15 100%);
  background: linear-gradient(to bottom, #fc5f1b 0%, #dbdb15 100%);
  height: 50px;
  width: 1030px;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #0e83cd;
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  padding: 0 18px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:first-child a {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#cssmenu > ul > li.active a,
#cssmenu > ul > li:hover > a {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub {
  z-index: 1;
  border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub:hover > ul {
  display: block;
  border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 180px;
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub ul li a {
  color: #0e83cd;
  display: block;
  line-height: 100%;
  padding: 14px 10px;
  font-size: 16px;
  background: -moz-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6ea70), color-stop(100%, #dbdb15));
  background: -webkit-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: -o-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: -ms-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: linear-gradient(to bottom, #f6ea70 0%, #dbdb15 100%);
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub ul li:hover a {
background-color: yellow;
border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub .has-sub ul li a {
  background: -moz-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6ea70), color-stop(100%, #dbdb15));
  background: -webkit-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: -o-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: -ms-linear-gradient(top, #f6ea70 0%, #dbdb15 100%);
  background: linear-gradient(to bottom, #f6ea70 0%, #dbdb15 100%);
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background-color: yellow;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
