

table tr td{
    font-family: "Verdana";
    white-space: nowrap;
}

input[type=text], input[type=password], input[type=submit],input[type=button] {
    border:1px solid #8f9296;	
    font-size:14px;
    font-family: verdana;
    height:22px;
    background-color: #ffffff;
    color: #0e83cd;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
input[type=submit],input[type=button]{
	border:1px solid #8f9296;	
    font-size:14px;
    font-family: verdana;
    height:30px;
    font-weight: bold;
    color: #0e83cd;
}
input[type=submit]:hover,input[type=button]:hover{
	background-color: #e1e1e1;
	cursor: pointer;
}

button{
    border:1px solid #8f9296;	
    font-size:14px;
    font-family: verdana;
    height:30px;
    font-weight: bold;
    color: #0e83cd;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

button:hover{
    border:1px solid #e1e1e1;
    cursor: pointer;
}

input[type=text]:focus,input[type=password]:focus{
    outline-style: none;
    background-color: #ffffff;
}

input[type=checkbox]{
    font-size: xx-small;
    border-radius: 6px;
}

#check_news{
    font-size: x-large;
}




.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #808080;
}


.button {
  background: #ffffff;
  font-family: Arial;
  color: #0e83cd;
  font-size: 16px;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
}


.button:hover {
  background: #e1e1e1;
  text-decoration: none;
  border: 1px solid #808080;
}

a.collegamento{
    color: #0e83cd;
    font-size: 16px;
    text-decoration: none;
}

a.collegamento:hover{
    text-decoration: underline;
}

label#azzeratutto{
    font-size: 14px;
    cursor: pointer;
    color: #0e83cd
}

label{
    font-size: 14px;
    cursor: pointer;
    color: #0e83cd
}

select{
    font-size: 18px;
    cursor: pointer;
    color: black;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

label#azzeratutto:hover{
    text-decoration: underline;
}